@charset "UTF-8";
/* FROZEN */
html,
body {
	font-family: 'Jua', sans-serif;
}
body {
	width: 100%;
	height: 100%;
	background: #177082;
	background: -moz-linear-gradient(top, #177082 0%, #52c9e0 100%);
	/* FF3.6+ */
	background: -webkit-linear-gradient(top, #f0f9ff 0%, #52c9e0 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #177082 0%, #52c9e0 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #177082 0%, #52c9e0 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #177082 0%, #52c9e0 100%);
}
.svg-snowscene {
	width: 100%;
}
.snow {
	fill: #fff;
	animation-name: snowing;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-out;
}
.snow:nth-child(2n) {
	animation-delay: 1.5s;
}
.snow:nth-child(3n) {
	animation-delay: 2.3s;
	animation-duration: 3.3s;
}
.snow:nth-child(4n) {
	animation-delay: 0.8s;
	animation-duration: 3.2s;
}
.snow:nth-child(5n) {
	animation-delay: 2.8s;
}
@keyframes snowing {
	0% {
		fill-opacity: 1;
	}
	100% {
		fill-opacity: 0;
		transform: translateY(200px);
	}
}

p {
	color: white;
	text-align: center;
}
h1 {
	background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/6963bbf342d87b3a2150bd8f59682b89.jpg);
	-webkit-background-clip: text;
	background-size: cover;
	width: 100%;
	text-align: center;
	color: transparent;
	font-weight: 900;
}
h1::before {
	content: attr(data-heading);
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	background: linear-gradient(
		45deg,
		rgba(255, 255, 255, 0) 45%,
		rgba(255, 255, 255, 0.8) 50%,
		rgba(255, 255, 255, 0) 55%,
		rgba(255, 255, 255, 0) 100%
	);
	-webkit-background-clip: text;
	color: transparent;
	mix-blend-mode: screen;
	animation: shine 1s infinite;
	background-size: 200%;
	text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2), -2px 2px 10px rgba(0, 0, 0, 0.2),
		-2px -2px 10px rgba(0, 0, 0, 0.2);
}
@keyframes shine {
	0% {
		background-position: -100%;
	}
	100% {
		background-position: 100%;
	}
} /* Not needed for demo */
@font-face {
	font-family: 'frozen';
	src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/Ice%20kingdom%20-%20Bold%20-%20Por%20Kustren.woff');
}
h1 {
	top: 10%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	font-size: 8vw;
	margin: 0;
	font-family: 'frozen', serif;
	font-weight: 700;
}
h2 {
	font-weight: 100;
	font-size: 2.5rem;
	color: #d6ffffe8;
	text-align: center;
}

img {
    margin-bottom: 20%;
}

/* 이미지 업로드 창 */
.file-upload {
	width: 500px;
	margin: 10% auto;
	padding-top: 5%;
	padding-right: 15%;
	padding-left: 15%;
	padding-bottom: 10%;
	border-radius: 10px;
	border-style: hidden;
	background-color: #53525f54;
}
.file-upload-content {
	display: none;
	text-align: center;
}
.file-upload-input {
	position: absolute;
	margin: 0;
	padding: 15%;
	width: 100%;
	height: 100%;
	outline: none;
	opacity: 0;
	cursor: pointer;
}
.image-upload-wrap {
	background-image: #cbd6df;
	border: 1.5px solid #ffffff60;
	border-radius: 10px;
	position: relative;
}
.image-dropping,
.image-upload-wrap:hover {
	background-color: #3f3d473d;
	border: 1.5px solid #ffffff60;
}
.image-title-wrap {
	padding: 0 15px 15px 15px;
	color: #222;
}
.drag-text {
	text-align: center;
}
.drag-text h3 {
	font-weight: 100;
	text-transform: uppercase;
	color: #37393d;
	padding: 60px 0;
}
.file-upload-image {
	max-height: 500px;
	max-width: 500px;
	margin: auto;
	padding: 20px;
}
.remove-image {
	width: 200px;
	margin: 0;
	color: #fff;
	background: #cd4535;
	border: none;
	padding: 10px;
	border-radius: 4px;
	border-bottom: 4px solid #b02818;
	transition: all 0.2s ease;
	outline: none;
	text-transform: uppercase;
	font-weight: 700;
}
.remove-image:hover {
	background: #c13b2a;
	color: #ffffff;
	transition: all 0.2s ease;
	cursor: pointer;
}
.remove-image:active {
	border: 0;
	transition: all 0.2s ease;
}

.navbar-light .navbar-brand {
	line-height: 1.68;
	text-align: left;
	color: #35465d;
}

.navbar-light .navbar-toggler {
	border-color: #ffffff;
}

.upload {
	width: 20%;
}

.upload-text {
	width: 58%;
	font-size: 2rem;
	line-height: 1.53;
	text-align: center;
	color: #35465d;
	margin: 0 auto;
}

/* 막대 그래프 */
.bar-container {
	height: 2.7rem;
}

.엘사-box {
	position: relative;
	top: 0;
	left: 0;
	height: 2rem;
	border-radius: 10px;
	width: 100%;
	background-color: rgba(200, 158, 196, 0.3);
}
.엘사-bar {
	position: relative;
	top: -2rem;
	left: 0;
	height: 2rem;
	border-radius: 10px;
	background-color: rgba(200, 158, 196, 1);
}
.안나-box {
	position: relative;
	top: 0;
	left: 0;
	height: 2rem;
	border-radius: 10px;
	width: 100%;
	background-color: rgba(255, 201, 82, 0.3);
}
.안나-bar {
	position: relative;
	top: -2rem;
	left: 0;
	height: 2rem;
	border-radius: 10px;
	background-color: rgba(255, 201, 82, 1);
}
.크리스토프-box {
	position: relative;
	top: 0;
	left: 0;
	height: 2rem;
	border-radius: 10px;
	width: 100%;
	background-color: rgba(170, 205, 98, 0.3);
}
.크리스토프-bar {
	position: relative;
	top: -2rem;
	left: 0;
	height: 2rem;
	border-radius: 10px;
	background-color: rgba(170, 205, 98, 1);
}
.한스-box {
	position: relative;
	top: 0;
	left: 0;
	height: 2rem;
	border-radius: 10px;
	width: 100%;
	background-color: rgba(106, 175, 230, 0.3);
}
.한스-bar {
	position: relative;
	top: -2rem;
	left: 0;
	height: 2rem;
	border-radius: 10px;
	background-color: rgba(106, 175, 230, 1);
}
.울라프-box {
	position: relative;
	top: 0;
	left: 0;
	height: 2rem;
	border-radius: 10px;
	width: 100%;
	background-color: rgba(238, 119, 133, 0.3);
}
.울라프-bar {
	position: relative;
	top: -2rem;
	left: 0;
	height: 2rem;
	border-radius: 10px;
	background-color: rgba(238, 119, 133, 1);
}
.스벤-box {
	position: relative;
	top: 0;
	left: 0;
	height: 2rem;
	border-radius: 10px;
	width: 100%;
	background-color: rgba(197, 198, 182, 0.3);
}
.스벤-bar {
	position: relative;
	top: -2rem;
	left: 0;
	height: 2rem;
	border-radius: 10px;
	background-color: rgba(197, 198, 182, 0.3);
}
.브루니-box {
	position: relative;
	top: 0;
	left: 0;
	height: 2rem;
	border-radius: 10px;
	width: 100%;
	background-color: rgba(103, 213, 181, 0.3);
}
.브루니-bar {
	position: relative;
	top: -2rem;
	left: 0;
	height: 2rem;
	border-radius: 10px;
	background-color: rgba(103, 213, 181, 1);
}
.트롤-box {
	position: relative;
	top: 0;
	left: 0;
	height: 2rem;
	border-radius: 10px;
	width: 100%;
	background-color: rgba(116, 116, 116, 0.3);
}
.트롤-bar {
	position: relative;
	top: -2rem;
	left: 0;
	height: 2rem;
	border-radius: 10px;
	background-color: rgba(116, 116, 116, 1);
}
.percent-text {
	font-size: 1rem;
	color: #ffffff;
}
.frozen-label {
	width: 20%;
	text-align: left;
	height: 2rem;
	font-size: 1.2rem;
}
#label-container {
	width: 80%;
	margin: 0 auto;
}
.result-message {
	font-size: 3rem;
}
.frozen-explain {
	font-size: 2rem;
}
.엘사-frozen-title {
	color: #c89ec4;
}
.안나-frozen-title {
	color: #ffc952;
}
.크리스토프-frozen-title {
	color: #aacd62;
}
.한스-frozen-title {
	color: #6aafe6;
}
.울라프-frozen-title {
	color: #ee7785;
}
.스벤-frozen-title {
	color: #c5c6b6;
}
.브루니-frozen-title {
	color: #67d5b2;
}
.트롤-frozen-title {
	color: #747474;
}